@if (TempData[TempDataKeys.HandledErrorMessage] != null)
{
    var msg = TempData[TempDataKeys.HandledErrorMessage].ToString();

    <div id="handled-error" class="alert alert-danger alert-dismissible" style="margin-top: 20px;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error</strong> @msg
    </div>
}